form {
    max-width: 400px;
    margin: 0 auto;


}

.contact {
    margin-bottom: 1em;
    margin-top: 100px;
    
    

}
*{
    background-color: rgb(245, 245, 210);
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input,
textarea {
    width: 100%;
    padding: 0.5em;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}